        <h2>REQUIRED DISCLOSURES & ADDENDUMS IN OHIO</h2>
        <p>The following disclosures or addendums are either required for some or all residential lease agreements in Ohio.</p>
        
        <h3>Lead Based Paint Disclosure - for rental units built prior to 1978.</h3>
        <h3>DISCLOSURE OF INFORMATION ON LEAD-BASED PAINT AND/OR LEAD-BASED PAINT HAZARDS LEAD WARNING STATEMENT</h3>
        
        <p>Housing built before 1978 may contain lead-based paint. Lead from paint, paint chips, and dust can pose health hazards if not managed property. Lead exposure is especially harmful to young children and pregnant women, before renting pre-1978 housing, lessors must disclose the presence of known lead-based paint and/or lead- based paint hazards in the dwelling. Lessees must also receive a federally approved pamphlet on lead poisoning prevention.</p>
        
        <h3>Lessor's Disclosure:</h3>
<p>Presence of lead-based paint and/or lead-based paint hazards (check (i) or (ii) below):</p>

<div class="checklist">
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
        <tr>
            <td style="width: 20px; vertical-align: top;">(i)</td>
            <td style="border-bottom: 1px solid #000; width: 50px;"></td>
            <td style="padding-bottom: 15px; vertical-align: top;">
                Known lead-based paint and/or lead-based paint hazards are present in the housing (explain).
                
            </td>
            <td style="border-bottom: 1px solid #000; width: 250px;"></td>
        </tr>
    </table>
    
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
        <tr>
            <td style="width: 20px; vertical-align: top;">(ii)</td>
            <td style="border-bottom: 1px solid #000; width: 50px;"></td>
            <td style="padding-bottom: 15px; vertical-align: top;">
                Lessor has no knowledge of lead-based paint and/or lead-based paint hazards in the housing.
            </td>
            <td style="border-bottom: 1px solid #000; width: 250px;"></td>
        </tr>
    </table>
</div>


<h3>Records and reports available to the lessor (check (i) or (ii) below):</h3>
<div class="checklist">
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
        <tr>
            <td style="width: 20px; vertical-align: top;">(i)</td>
            <td style="border-bottom: 1px solid #000; width: 50px;"></td>
            <td style="padding-bottom: 15px; vertical-align: top;">
                Lessor has provided the lessee with all available records and reports pertaining to lead-based paint and/or lead-based paint hazards in the housing (list documents below).
            </td>
            <td style="border-bottom: 1px solid #000; width: 250px;"></td>
        </tr>
    </table>
    
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 15px;">
        <tr>
            <td style="width: 20px; vertical-align: top;">(ii)</td>
            <td style="border-bottom: 1px solid #000; width: 50px;"></td>
            <td style="padding-bottom: 15px; vertical-align: top;">
                Lessor has no reports or records pertaining to lead-based paint and/or lead-based paint hazards in the housing.
            </td>
            <td style="border-bottom: 1px solid #000; width: 250px;"></td>
        </tr>
    </table>
</div>


<h3>Lessee's Acknowledgment (initial)</h3>
<div class="checklist">
    <p><span class="signature-line">&nbsp;</span> Lessee has received copies of all the information listed above.</p>
    <p><span class="signature-line">&nbsp;</span> Lessee has received the pamphlet Protect Your Family from Lead in Your Home.</p>
</div>

<h3>Agent's Acknowledgment (initial)</h3>
<div class="checklist">
     <table style="width: 100%; border-collapse: collapse; margin-bottom: 10px;">
        <tr>
            <td style="border-bottom: 1px solid #000; width: 40px;"></td>
            <td><p>Agent has informed the lessor of the Lessor's obligations under 42 U.S.C. 4852d and is aware of his/her responsibility to ensure compliance.</p></td>
        </tr>
    </table>
</div>
<div class="signature-section">    <table style="width: 100%; border-collapse: collapse; margin-bottom: 10px;">
        <tr>
            <td style="border-bottom: 1px solid #000; width: 250px;"></td>
        </tr>
        <tr>
            <td style="text-align: center;">LESSEE</td>
        </tr>
    </table>
    <h3>Certification of Accuracy</h3>
    <p>The following parties have reviewed the information above and certify, to the best of their knowledge, that the information they have provided is true and accurate.</p>

    <table style="width: 100%; border-collapse: collapse; margin-bottom: 10px;">
        <tr>
            <td style="border-bottom: 1px solid #000; width: 250px;"></td>
        </tr>
        <tr>
            <td style="text-align: center;">LESSEE</td>
        </tr>
    </table>

    <table style="width: 100%; border-collapse: collapse; margin-bottom: 10px;">
        <tr>
            <td style="border-bottom: 1px solid #000; width: 250px;"></td>
        </tr>
        <tr>
            <td style="text-align: center;">DATE</td>
        </tr>
    </table>

    <table style="width: 100%; border-collapse: collapse; margin-bottom: 10px;">
        <tr>
            <td style="border-bottom: 1px solid #000; width: 250px;"></td>
        </tr>
        <tr>
            <td style="text-align: center;">LESSEE</td>
        </tr>
    </table>

    <table style="width: 100%; border-collapse: collapse; margin-bottom: 10px;">
        <tr>
            <td style="border-bottom: 1px solid #000; width: 250px;"></td>
        </tr>
        <tr>
            <td style="text-align: center;">DATE</td>
        </tr>
    </table>
</div>
